
{% macro prepare_attachment(file) %}
	$.nmlb.prepare_attachment("field", {
		id: "{{ file.entity.id }}",
		url: "{{ file|nl_file_uri }}",
		filename: "{{ file.filename }}",
		class:"selection",
	},{
		mimeType  : {{ (file.mimeType ? '"'~file.mimeType~'"' : 'null')|raw }},
		extension : {{ (file.extension ? '"'~file.extension~'"' : 'null')|raw }}
	}).appendTo(attachments);
{% endmacro %}

{% block netliva_media_lib_widget %}
	{% import _self as macro %}
	<div class="nmlb-medialib-field">
		<ul class="nmlb-attachments"></ul>
		{%- set type = type|default('hidden') -%}
		{{- block('form_widget_simple') -}}
		{%- set input_id = id -%}
		{%- set id = id~'_button' -%}
		{%- set full_name = '' -%}
		{%- set type = 'button' -%}
		{%- set label =  translation_domain is same as(false) ? button_text : button_text|trans({}, translation_domain)  -%}
		{{- block('button_widget') -}}
	</div>
	<script type="text/javascript">
		function init_{{ id }}() {
			if (window.jQuery)
				if ($("#{{ id }}").openNetlivaMediaLib == undefined)
					document.getElementById("{{ id }}").parentNode.innerHTML = '<i style="color: red;">Netliva Media Library JavaScript files is missing.</i>';
				else
				{
					var attachments = $("#{{ id }}").parents(".nmlb-medialib-field").find(".nmlb-attachments");
					$("#{{ id }}").openNetlivaMediaLib({
						multiple:{{ multiple ? "true":"false" }},
						callback: function (selectedMedias) {
							attachments.html("");
							var data = {};
							$.each(selectedMedias, function (mediaId, mediaInfo) {
								$.nmlb.prepare_attachment("field", {id: mediaId, url: mediaInfo.url, filename: mediaInfo.filename, class:"selection"}).appendTo(attachments);
								data[mediaId] = mediaInfo.filename;
							})
							$("#{{ input_id }}").val(JSON.stringify(data));
						}
					});
					{% if value and value.files is defined and value.files|length %}
						{% for file in value.files %}
							{{ macro.prepare_attachment(file) }}
						{% endfor %}
					{% elseif value and value.fileType is defined %}
						{{ macro.prepare_attachment(value) }}
					{% endif %}
				}
			else
				document.getElementById("{{ id }}").parentNode.innerHTML = '<i style="color: red;">Netliva Media Library Module require JQuery.</i>';
		};

		if (window.jQuery && $("#{{ id }}").openNetlivaMediaLib != undefined) init_{{ id }}();
		else window.addEventListener("load", init_{{ id }});
	</script>
{% endblock %}
