{% block netliva_media_lib_widget %}
	<div>
		{%- set type = type|default('hidden') -%}
		{{- block('form_widget_simple') -}}
		{%- set id = id~'_button' -%}
		{%- set full_name = '' -%}
		{{- block('button_widget') -}}
	</div>
	<script type="text/javascript">
		window.onload = function() {
			if (window.jQuery)
				if ($("#{{ id }}").openNetlivaMediaLib == undefined)
					document.getElementById("{{ id }}").parentNode.innerHTML = '<i style="color: red;">Netliva Media Library JavaScript files is missing.</i>';
				else
					$("#{{ id }}").openNetlivaMediaLib();
			else
				document.getElementById("{{ id }}").parentNode.innerHTML = '<i style="color: red;">Netliva Media Library Module require JQuery.</i>';
		}
	</script>
{% endblock %}